Home_Work_8/WCFWebClient/Web References/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52017/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52017/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52017/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFWebService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetListEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListEmp" />
  </wsdl:message>
  <wsdl:message name="IService_GetListEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetListDep_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListDep" />
  </wsdl:message>
  <wsdl:message name="IService_GetListDep_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListDepResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetItemEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemEmp" />
  </wsdl:message>
  <wsdl:message name="IService_GetItemEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmp" />
  </wsdl:message>
  <wsdl:message name="IService_CreateEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmp" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmp" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetListEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetListEmp" message="tns:IService_GetListEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetListEmpResponse" message="tns:IService_GetListEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListDep">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetListDep" message="tns:IService_GetListDep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetListDepResponse" message="tns:IService_GetListDep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetItemEmp" message="tns:IService_GetItemEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetItemEmpResponse" message="tns:IService_GetItemEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateEmp" message="tns:IService_CreateEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateEmpResponse" message="tns:IService_CreateEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteEmp" message="tns:IService_DeleteEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteEmpResponse" message="tns:IService_DeleteEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateEmp" message="tns:IService_UpdateEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateEmpResponse" message="tns:IService_UpdateEmp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListEmp">
      <soap:operation soapAction="http://tempuri.org/IService/GetListEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDep">
      <soap:operation soapAction="http://tempuri.org/IService/GetListDep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemEmp">
      <soap:operation soapAction="http://tempuri.org/IService/GetItemEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmp">
      <soap:operation soapAction="http://tempuri.org/IService/CreateEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmp">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmp">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:52017/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>